#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
.user-status {
  padding: 10px;
  background: lightblue;
}
#login-status {
  float: left;
}
#login-link {
  float: right;
}
body {
  color:rgb(98, 98, 98);
  font-family: Arial;
  margin: 0;
}
.contents {
  padding: 20px;
}
h1 { 
    text-shadow: 1px 1px 1px #ccc;
}
h2 {
    color:#ccc;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.hidden {
    display: none;
}