#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.floated {
   float:left;
   margin-right:5px;
}
.user-status {
  padding: 10px;
  background: lightblue;
}
#login-status {
  float: left;
}
#login-link {
  float: right;
}
body {
  color:rgb(98, 98, 98);
  font-family: Arial;
  margin: 0;
}
.contents {
  padding: 20px;
}
h1 { 
    text-shadow: 1px 1px 1px #ccc;
}
h2 {
    color:#ccc;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
